Source: devclivern
Section: devel
Priority: optional
Maintainer: clivern <hello@clivern.com>
Build-Depends: build-essential, debhelper

Package: devclivern
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clivern dev package
 clivern dev package is written in C
 and prints a greeting.